.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 20px;
}

.content-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#auth-buttons {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 500px;
}

#auth-buttons:hover {
    background-color: #524e4e;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #68a16b;
}